{
    "@": "use upload_unit_test_data.py to substitute wifi_access tokens and upload to esp8266",

    "wifi_access":
    {
        "ssid": "$SSID",
        "pwd": "$PWD"
    },
    "test_json":
    {
	"a": [1, 2],
        "b": {
            "aa": "foo",
            "bb": 3
        },
        "c": "the quick brown fox"
    },
    "test_mqtt":
    {
        "public_mqtt_broker": "broker.emqx.io",
        "local_mqtt_broker": "ryu-mbp-2020.local",
        "mqtt_port": 1883,
        "topic": "home/garage/bigdoor"
    }
    
}

