{
    "@": "use upload_unit_test_data.py to substitute wifi_access tokens and upload to esp8266",

    "wifi_access":
    {
        "ssid": "$SSID",
        "pwd": "$PWD"
    },
    "test_json":
    {
	"a": [1, 2],
        "b": {
            "aa": "foo",
            "bb": 3
        }
    }
}

